@media only screen and (min-width: 600px) {
    footer{
        background-color: #3fddc1;
        width: 100%;
        height: 100px;
        margin-top: 10px;
    }

    footer .foot{
        width: 75%; /* This is the inner width of the content inside of your header (80%, etc) /
        height: 100%;
        display: block;
        margin: 0 auto;
    }

    footer nav li{

        display: table;
        float: right;
        font-size: 12px;
        font-weight: 700;
        margin-right: 10%;
        margin-top: 25px;
        color: #1d1d1f;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 992px) {
footer{
    background-color: #3fddc1;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

footer .foot{
    width: 75%; / This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

footer nav li{

    display: table;
    float: right;
    font-size: 24px;
    font-weight: 700;
    margin-right: 10%;
    margin-top: 25px;
    color: #1d1d1f;
    text-decoration: underline;
}
}
